@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shippori+Antique+B1&display=swap");
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.first_heading {
  font-family: SF Pro Display;
  font-weight: 600;
  text-align: center;
}

/* Navbar */
ul {
  list-style: none;
}

.logo {
  width: 90px;
  height: 90px;
  margin-right: -23px;
  margin-bottom: -9px;
  transition: 0.15s ease-in-out;
}

.logo:hover {
  padding: 6px;
}

.navbar-collapse {
  margin: 13px 10px;
}

.nav-item {
  font-family: "Alegreya Sans", sans-serif;
  font-size: 30px;
}

.fontsize1 {
  font-size: 25px;
}

.fontsize2 {
  font-size: 22px;
}

.heading {
  color: #1048d3;
}

.hero-section {
  height: 90vh;
  height: 90vh;
  /* background: linear-gradient(
    178.1deg,
    #042f9d 19.12%,
    rgb(0 87 204 / 89%) 50.4%,
    rgb(35 165 255 / 89%) 108.94%
  ); */
  /* Improved gradient */
  background: linear-gradient(90deg, #0DD2FB 0%, #50C1FA 51%, #51EFFD 92%, #51EFFD 100%);
  position: relative;
  top: 0px;
  position: relative;
  top: 0px;
}

.navbar-collapse {
  height: auto;
  /* Auto allows the navbar to expand correctly */
  margin: 13px 10px;
  transition: height 0.3s ease;
  /* Optional smooth transition */
}

.logo {
  width: 90px;
  height: 90px;
  margin-right: -23px;
  margin-bottom: -9px;
  transition: 0.15s ease-in-out;
}

.logo:hover {
  padding: 6px;
}

.navbar-collapse {
  margin: 13px 10px;
}

.nav-item {
  font-family: "Alegreya Sans", sans-serif;
  font-size: 30px;
}

.nav-link:hover {
  color: rgb(119 112 112) !important;
}

.welcome-text {
  font-family: 'Roboto', sans-serif;
}

.notesidea-text {
  font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.welcome {
  color: rgb(5, 21, 113);
  font-family: Roboto;
  font-size: 63px;
}

.welcomedesc {
  color: rgb(5, 21, 113);
  font-family: Roboto;
  font-weight: Medium;
  width: 53vw;
  font-size: 29px;
}

.getstarted {
  background-color: red;
  background-image: linear-gradient(45deg, #080892, #05768d);
  background-size: 100%;
  background-repeat: repeat;
  /* -webkit-background-clip: text; */
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  font-family: "Nunito Sans", sans-serif;
  font-size: 61px;
  width: max-content;
}

.getstartedp {
  font-size: 23px;
  font-family: "IBM Plex Sans", sans-serif;
}

.footeritem {
  display: flex;
  justify-content: space-between;
}

.get_started_href {
  margin-left: 1.5rem;
  color: rgb(243 48 48);
  font-size: 2.1rem;
  text-decoration: none;
}

.get_started_href:hover {
  text-decoration: underline;
  color: rgb(252, 83, 83);
}

.curve-gradient {
  background: no-repeat bottom left;
  width: 100%;
}

/* Second section */
.second-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.blob {
  background: url("../images/blob.svg") no-repeat;
  height: 168%;
  width: 77%;
  position: relative;
  bottom: 362px;
  left: 272px;
}

.whycoolnotesheading {
  font-size: 45px;
  font-weight: 700;
  margin: 36px 53px;
}

.notesillustration {
  width: 31%;
  margin-left: 29px;
  position: relative;
}

.points {
  display: flex;
  align-items: center;
  margin: 10px 45px;
}

.pointimgparent {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70px;
  width: 70px;
  box-shadow: -2.358276844024658px 17.68707847595215px 35px rgba(0, 0, 0, 0.25);
  border-radius: 40px;
}

.pointimg {
  height: 90%;
  width: 90%;
}

.pointheading {
  font-size: 30px;
  margin: 10px 15px;
}

.custom-shape-divider-bottom-1640966291 {
  position: absolute;
  bottom: -63px;
  left: -1px;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1640966291 svg {
  position: relative;
  display: block;
  width: calc(106% + 1.3px);
  height: 138px;
}

.custom-shape-divider-bottom-1640966291 .shape-fill {
  fill: #ffffff;
}

/* second wave */
.custom-shape-divider-bottom-1640970012 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1640970012 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 127px;
  transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1640970012 .shape-fill {
  fill: #ffffff;
}

.custom-shape-divider-bottom-1643471356 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1643471356 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 87px;
}

.wave {
  position: absolute;
  bottom: 0;
}

.custom-shape-divider-bottom-1643471356 .shape-fill {
  fill: #ffffff;
}

@media (max-width: 768px) {
  .welcome {
    font-weight: bolder;
  }

  .welcomedesc {
    width: 100%;
    font-size: 2rem;
    width: 53vw;
  }

  .welcomeheading {
    width: 93vw;
  }

  .rightside {
    margin: 0 -68px;
  }

  .second-section {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .notesillustration {
    width: 69%;
    position: relative;
    margin-top: 46px;
  }

  .points {
    flex-direction: column;
  }

  .pointheading {
    font-size: 27px;
  }

  .whycoolnotesheading {
    color: #1048d3;
    font-size: 2.5rem !important;
    height: max-content;
    width: max-content;
  }

  .footeritem {
    flex-direction: column;
  }

  .registercard {
    margin: 0 4rem !important;
  }

}

#textBox {
  width: 60%;
  font-family: "Roboto", sans-serif;
  padding: 15px;
  font-size: 18px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-top: 30px;
  text-align: left;
  color: #333;
  resize: none;
  height: 100px;
}

.styled-webcam {
  margin: 0rem 0rem -1rem 0rem;
  border: 2px solid #432faf;
  border-radius: 35px;
}